<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tene.zetsushin">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="舌神"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="ログイン画面">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Top画面" />
        <activity
            android:name=".test"
            android:label="テスト問題1" />
        <activity
            android:name=".test_r"
            android:label="テスト問題1(リバース)" />
        <activity
            android:name=".result"
            android:label="採点結果" />
        <activity
            android:name=".confusion_ver2"
            android:label="テスト問題1の混合行列"
            android:screenOrientation="landscape">

        </activity>
    </application>

</manifest>